<p>We are delighted to invite you to participate in an exclusive Microsoft event: <b>Azure Functions, Event Grid, and Logic Apps Serverless-palooza</b>.</p>
<p>Developers are looking to leverage the new paradigm of serverless architectures: scalable and reliable event based compute experience for code and workflows, which accelerate the development of applications while simplifying the infrastructure, providing auto-scale and micro-billing, using technologies like <a href="https://azure.microsoft.com/en-us/services/functions/" target="_blank">Functions</a>, <a href="https://azure.microsoft.com/en-us/services/event-grid/" target="_blank">Event Grid</a> and <a href="https://azure.microsoft.com/en-us/services/logic-apps/" target="_blank">Logic Apps</a>.&nbsp;</p>
<p>Because of the hands-on nature of the event there is limited space in the Serverless-palooza;  <a href="#schedule" target="_blank" class="call-action-link">
        register
      </a> to reserve your spot.</p>
<h4>Target Audience</h4>  
<div style="width: 95%; margin: 0.5em auto; text-align: center; font-size: 1.6em; line-height: 1.6em;">
        <style scoped="scoped">
           ul.star-shaped-bullet { margin: 0; list-style: none; text-align: left }
           ul.star-shaped-bullet li:before { content: "\2606\a0" }
        </style>
        <ul class="star-shaped-bullet">
<li>This event is for technical roles however anyone interested in learning more about Azure and Serverless functionality is welcome to attend.</li>
<li>Especially beneficial to those that work with organizations who are planning to build Serverless architectures on the cloud or organizations planning to automate business processes.</li>
</ul>
</div>
<h4>Requirement</h4>
<p><b>You must have access to either an Azure Subscription or Resource Group that you are either an Owner or Contributor role.</b></p>


