<h2 class="section-title">{{ .titles.schedule }}</h2>


<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Date</th>
        <th class="schedule-location">Location</th>
        <th class="schedule-url">Registration</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
      <tr class="schedule-other">
        <td class="schedule-time">{{ .date }}</td>
        <td class="schedule-location">{{ .location }}</td>
        {{ if ne .location nil }}
        <td class="schedule-url">
            {{ with .calltoaction }}
            <a href="{{ .link }}" class="call-action-link" target="_blank" title="{{ .text }}">{{ .text }}</a>
          {{ end }}
        </td>
        {{ else }}
            <td class="schedule-url">Coming Soon!</td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
